<html>
  <head>
    <title>About Page</title>
    <link rel='icon' href='/img/icon.jpg'>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class='about-content'>
       {{>header}}
        <img class='portrait' src="/img/me.jpg" />

    </div>
    {{>footer}}
  </body>
</html>