<html>
  <head>
    <title>About Page</title>
    <link rel='icon' href='/img/icon.jpg'>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class='body-par'>
       {{>header}}
       <p class='about-par'>This site was created by Mary Joy Eraes. It uses data from mapbox.com and weatherstack.com!</p>
        <img class='portrait' src="/img/me.jpg" />

    </div>
    {{>footer}}
  </body>
</html>