<html>
  <head>
    <title>Help Page</title>
    <link rel='icon' href='/img/icon.jpg'>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class='help-content'>
       {{>header}}
        <p class='body-par'>Set up message: {{message}}</p>
    </div>
    {{>footer}}
  </body>
</html>